<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <link rel="stylesheet" href="register.css">
    <title>Registert</title>
</head>
<body>
    <header>

    </header>   
    <main>
        <form action="/" method="get">
            <input type="text" minlength="" name="nombre" placeholder="Nombre y Apellido" class="input">
            <input type="text" minlength="" name="nombre-usuario" placeholder="Nombre de usuari@" class="input">
            
            <input type="email" name="fechaDeNacimiento" placeholder="Nombre y Apellido" class="input">
            <label for="fechaDeNacimiento">Fecha de Nacimiento</label>
            <input type="date" name="fechaDeNacimiento" class="input" id="fechaDeNacimiento">
            <p>Perfil de Usuario</p>
            <input type="radio" name="domicilio" value="" placeholder="Domicilio" class="input">
            <input type="radio" name="perfil" placeholder="Domicilio" class="input">
            <label for="vendedor">Vendedor</label>
            <p>Categoria de Interes</p>
            <input type="checkbox" name="Interes" value="Electro" class="categoria" id="vendedor">
            <label for="electro">Electro</label>
            <input type="checkbox" name="Interes" value="Moda" class="categoria" id="vendedor">
            <input type="checkbox" name="Interes" value="Hogar" class="categoria" id="vendedor">
            <input type="checkbox" name="Interes" value="Jugeteria" class="categoria" id="vendedor">
            <input type="checkbox" name="Interes" value="Vida Sana" class="categoria" id="vendedor">

            <label for="Usuario">Usuario</label>
            <input type="file" accept=".jpg,.png" name="avatar"  class="categoria" id="vendedor">







        </form>
    </main>
</body>
</html>