/*Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; */
/* font-family: 'Roboto', sans-serif;*/
body{
    background-color: #eac926;
    font-family: "Roboto",sans-serif;
}
.contenedor{
    align-items: center;
}
p{
    color: black;
    font-size: 12px;
}
nav{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}
li a{
    color: #ebebeb;
    font-size: 16pt;
    text-decoration: none;
    color:black;
}
i.fa-magnifying-glass{
    font-size: 20pt;
    color:#03264C;
}
i.fa-hand-holding-box{
    font-size: 40pt;
    color:#03264C;
/*    width: 50px;
    height: 50px;
   padding: 10px 10px;
   background-color: white;  */
}
.titulares h2{
    color: red;
    font-size: 24px;
}

.precio h3{
    font-size: 18px;
}
.descuento p{
    font-size: 16px;
}
img#logo {
    width: 400px;
}

#buscar{
    width: 400px;
    height: 30px;
    background: white;
    border: solid 1px black;
}

.burger-menu{
   width: 60px;
   height: 60px;
   background:#03264C;
   border-radius: 15px;
   align-items: center;
   justify-content: center;
}

i.icono {
     width: 50px;
     height: 50px;
    color: #ebebeb;
    font-size: 40px;
    padding: 10px 10px;
}
.descripcion{
    color: #666;
    margin-top: 20px;
    transition: all 5s;
    display: none;
}
.descripcion p{
    font-size: 16px;
    font-weight: normal;
}
@media (min-width: 361px){
    .descripcion{
        display: initial;
    }
    section article {

    }
    .articulo {
        width: 45%;
    }
}
.cajaProducto{
    width: 100%;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}
.cajaProducto p{
    text-align: initial;
}
.cajaProducto i{
    display: flex;
    font-size: 16px;
    position: absolute;
    right: 35px;
    top: -15px;
}
/* footer i:hover{
    color:#1259C3
} */
